body {
    background-color: white;
    font-size: 3rem;
}

.container-fluid.active {
    text-decoration: underline;
}

.shoppingCartLogo {
    display: block;
    margin: auto;
    width: 9%;
    float: right;
    padding-left: 5rem;
    justify-content: left;
}

.title {
    font-size: 4rem;
    justify-content: center;
    color: black;
    text-align: center;
}

#header-img {
    display: block;
    width: 50%;
    height: 500px;
    justify-content: center;
    margin: auto;
}

.card {
    display: block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.card-body {
    text-align: center;
    font-family: 'Barlow Condensed, sans-serif';
}
